*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
body{
    padding: 16px 0px;
    color:#333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.main-container{
    flex-grow: 1;
}

h1{
    /* font-size: 50px; */
}

ul{
    display: flex;
    padding-inline-start: 0px !important;
}
 ul li{
    list-style: none;
    margin-right: 28px;
    border: 1px solid #565454;
    padding: 6px;
    min-width: 60px;
    text-align: center;
    border-radius: 0.5em;
    height: fit-content;
 }

 ul li a{
    text-decoration: none;
    color: #565454;
    /* font-size: 20px; */
 }
 span{
    font-size: 20px;
 }
 .about{
    width: 250px;
 }
 .headerSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px  solid #bcbcbc;
    padding-bottom: 16px;

 }
 .footer{
    border-top: 1px  solid #bcbcbc;
    padding-top: 16px;
 }
 input{
   border-radius: 0.5rem;
   border: 1px solid black;
   padding: 8px;
   margin-right: 8px;

 }
 form{
   margin-top: 30px;
 }
 .form{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: fit-content;
   margin: 0 auto;
   
 }
 #message-1 , #message-2{
   margin-top: 16px;
   background-color: rgb(58, 71, 76);
   color:white;
   width:calc(100% - 10px);
   text-align: center;
   border-radius: 0.3rem;
   
 }
 button{
   border-radius: 0.5rem;
   cursor: pointer;
   padding: 8px;
   background-color: black;
   color: white;
 }