<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about page</title>
    <link rel="stylesheet" href="./style.css">
    <script src="./app.js"></script>
</head>
<body>
    <h1>this is about page</h1>
    <img src="./Iron-Man-bar-Iron-Man-2-Robert-Downey-Jr-Tony-Stark-Sense-142629-wallhere.com.jpg" alt="image">
</body>
</html>