<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about page</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="main-container">
        <h1>{{>header}}</h1>

        <p>this is about page</p>
    <img class="about" src="./Iron-Man-bar-Iron-Man-2-Robert-Downey-Jr-Tony-Stark-Sense-142629-wallhere.com.jpg" alt="image">
    </div>
   
    {{>footer}}
</body>

</html>