<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>express</title>
    {{!-- <link rel="stylesheet" href="../public/style.css"></link>
     --}}
     <link rel="stylesheet" href="style.css">
</head>
<body style="margin: 0; padding: 0; background-color: aliceblue;">
   <h1>Weather{{title}}</h1> 
</body>
</html>